header{
    text-align: center;
}

.intro{
    color: red;
    text-align: center;
    width: 50%;
    text-align: center;
}
nav{
    text-align: center;
}
nav ul li{
    list-style: none;
    display: inline;
    padding: 10px;
}
